# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode/
.env

NiFi/nifi_project/conf/archive/
NiFi/nifi_project/data

NiFi/nifi_custom_processor/my-custom-consumekafka-processor/nifi-custom_consumekafka-nar/target/*
!NiFi/nifi_custom_processor/my-custom-consumekafka-processor/nifi-custom_consumekafka-nar/target/*.nar
NiFi/nifi_custom_processor/my-custom-consumekafka-processor/nifi-custom_consumekafka-processors/target/*
!NiFi/nifi_custom_processor/my-custom-consumekafka-processor/nifi-custom_consumekafka-processors/target/*.jar
NiFi/nifi_custom_processor/my-custom-consumekafka-processor/nifi-custom_consumekafka-processors/src/main/resources/*

NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/nifi-custom_kafkastreaming_new-nar/target/*
!NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/nifi-custom_kafkastreaming_new-nar/target/*.nar

NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/nifi-custom_kafkastreaming_new-processors/src/main/resources/*
NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/nifi-custom_kafkastreaming_new-processors/target/*
!NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/nifi-custom_kafkastreaming_new-processors/target/*.jar

NiFi/nifi_custom_processor/my-custom-kafkastreaming-processor_new_swap_swap/my-custom-kafkastreaming-new/target/*