version: '3.8'

services:
  flask-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: flask-api:1.0 
    ports:
      - "19020:19020"
    environment:
      FLASK_APP: run.py
      FLASK_ENV: development
      AWS_SDK_LOAD_CONFIG: "1"
      AWS_EC2_METADATA_DISABLED: "false"
    volumes:
      - /home/dp/workspace/DE31-final-team1/BE:/home/mydir/api-server
      - /home/ubuntu/.aws:/root/.aws:ro